@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.fade-out {
    animation-name: fadeOut;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}